  #include <behaviors.dtsi>
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/keys.h>
  #include <dt-bindings/zmk/rgb.h>
  #include <dt-bindings/zmk/mouse.h>

  /* --- COLORES --- */
  #define LILA      280
  #define AZUL      240
  #define ROJO      0
  #define AMARILLO  60

  /* --- DEFINICIONES MAC ESPAÑOL --- */
  #define ES_CARET  LS(LBKT)
  #define ES_PERC   LS(N5)
  #define ES_TILDE  RA(SEMI)
  #define ES_AT     RA(N2)
  #define ES_SEMI   LS(COMMA)
  #define ES_EQL    LS(N0)
  #define ES_PIPE   RA(N1)
  #define ES_SLSH   LS(N7)
  #define ES_UNDS   LS(SLASH)
  #define ES_HASH   RA(N3)
  #define ES_EXCL   LS(N1)
  #define ES_COLN   LS(DOT)
  #define ES_DOT    DOT
  #define ES_COMM   COMMA
  #define ES_AMPS   LS(N6)
  #define ES_MINS   SLASH
  #define ES_PLUS   RBKT
  #define ES_ASTR   LS(RBKT)
  #define ES_LPAR   LS(N8)
  #define ES_RPAR   LS(N9)
  #define ES_LABK   GRAVE
  #define ES_RABK   LS(GRAVE)
  #define ES_QUES   LS(MINUS)
  #define ES_BSLH   RA(LS(N7))
  #define ES_DLR    LS(N4)
  #define ES_IQUE   LS(EQUAL)

  / {
      macros {
          to_l1: to_l1 {
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings = <&macro_tap &to 1>, <&macro_tap &rgb_ug RGB_COLOR_HSB(AZUL,100,50)>;
          };

          to_l2: to_l2 {
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings = <&macro_tap &to 2>, <&macro_tap &rgb_ug RGB_COLOR_HSB(ROJO,100,50)>;
          };

          to_l3: to_l3 {
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings = <&macro_tap &to 3>, <&macro_tap &rgb_ug RGB_COLOR_HSB(AMARILLO,100,50)>;
          };

          to_l6: to_l6 {
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings = <&macro_tap &to 6>, <&macro_tap &rgb_ug RGB_COLOR_HSB(AMARILLO,100,50)>;
          };

          to_l0: to_l0 {
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings = <&macro_tap &to 0>, <&macro_tap &rgb_ug RGB_COLOR_HSB(LILA,100,50)>;
          };

          m_angle:     m_angle     { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp ES_LABK>, <&kp ES_RABK>, <&kp LEFT>; };
          m_parens:    m_parens    { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp ES_LPAR>, <&kp ES_RPAR>, <&kp LEFT>; };
          m_braces:    m_braces    { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp RA(LBKT)>, <&kp RA(RBKT)>, <&kp LEFT>; };
          m_brackets:  m_brackets  { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp RA(SQT)>, <&kp RA(BSLH)>, <&kp LEFT>; };
          m_quotes:    m_quotes    { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp LS(N2)>, <&kp LS(N2)>, <&kp LEFT>; };
          m_s_quotes:  m_s_quotes  { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>; };
          m_backticks: m_backticks { compatible = "zmk,behavior-macro"; #binding-cells = <0>; bindings = <&kp LS(LBKT)>, <&kp LS(LBKT)>, <&kp LEFT>; };
      };

      behaviors {
          hm: homerow_mods {
              compatible = "zmk,behavior-hold-tap";
              #binding-cells = <2>;
              flavor = "tap-preferred";
              tapping-term-ms = <200>;
              quick-tap-ms = <160>;
              require-prior-idle-ms = <250>;
              bindings = <&kp>, <&kp>;
          };

          hm_shift: homerow_mods_shift {
              compatible = "zmk,behavior-hold-tap";
              #binding-cells = <2>;
              flavor = "tap-preferred";
              tapping-term-ms = <200>;
              quick-tap-ms = <140>;
              require-prior-idle-ms = <250>;
              bindings = <&kp>, <&kp>;
          };

          td_dot_at:     td_dot_at     { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_DOT>,  <&kp ES_AT>;    };
          td_perc_caret: td_perc_caret { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_PERC>, <&kp ES_CARET>; };
          td_dot_coln:   td_dot_coln   { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_DOT>,  <&kp ES_COLN>;  };
          td_comm_semi:  td_comm_semi  { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_COMM>, <&kp ES_SEMI>;  };
          td_mi_un:      td_mi_un      { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_UNDS>, <&kp ES_MINS>;  };
          td_sl_bs:      td_sl_bs      { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_SLSH>, <&kp ES_MINS>;  };
          td_pl_as:      td_pl_as      { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_PLUS>, <&kp ES_ASTR>;  };
          td_amp_pipe:   td_amp_pipe   { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_AMPS>, <&kp ES_PIPE>;  };
          td_eql_neq:    td_eql_neq    { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_EQL>,  <&kp ES_EXCL>;  };
          td_dlr_hash:   td_dlr_hash   { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_DLR>,  <&kp ES_HASH>;  };
          td_ique_ques:  td_ique_ques  { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <180>; bindings = <&kp ES_QUES>, <&kp ES_IQUE>;  };
          td_ene:        td_ene        { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <160>; bindings = <&kp SEMI>,    <&kp ES_TILDE>; };
          td_y:          td_y          { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <160>; bindings = <&kp Y>,       <&kp ES_TILDE>; };
          td_u_comm:     td_u_comm     { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; tapping-term-ms = <160>; bindings = <&kp U>,       <&kp ES_COMM>;  };
      };

      keymap {
          compatible = "zmk,keymap";

          layer_0 {
              bindings = <
      &kp Q              &kp W         &kp E         &kp R         &kp T                &td_y         &td_u_comm    &kp I         &kp O         &kp P
      &hm_shift LSHFT A  &hm LALT S    &hm LCTRL D   &hm LGUI F    &kp G                &kp H         &hm RGUI J    &hm RCTRL K   &hm RALT L    &hm_shift LSHFT ES_QUES
      &kp Z              &kp X         &kp C         &kp V         &kp B                &kp N         &kp M         &td_dot_at    &to_l6        &to_l2
                                       &kp BSPC      &to_l2        &to_l2               &kp RET       &kp SPACE
              >;
          };

          layer_1 {
              bindings = <
      &none              &m_backticks  &m_s_quotes   &m_quotes     &kp LEFT             &kp RIGHT     &td_ene       &td_mi_un     &td_pl_as     &none
      &none              &m_braces     &m_brackets   &m_parens     &none                &m_quotes     &td_dot_coln  &td_comm_semi &td_amp_pipe  &td_sl_bs
      &kp ESC            &none         &none         &m_angle      &none                &m_s_quotes   &td_eql_neq   &td_dlr_hash  &td_ique_ques &td_perc_caret
                                       &kp BSPC      &to_l0        &none                &kp RET       &kp SPACE
              >;
          };

          layer_2 {
              bindings = <
      &kp LS(LALT)       &kp N7        &kp N8        &kp N9        &none                &none         &none         &none         &none         &kp LS(LALT)
      &kp LC(LALT)       &kp N4        &kp N5        &kp N6        &kp N0               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp LC(LALT)
      &kp LALT           &kp N1        &kp N2        &kp N3        &none                &none         &none         &none         &to_l0        &kp LALT
                                       &kp BSPC      &none         &to_l0               &kp RET       &kp SPACE
              >;
          };

          layer_3 {
              bindings = <
      &bootloader        &none         &none         &none         &none                &none              &none              &none              &none             &bootloader
      &bt BT_CLR         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3         &rgb_ug RGB_TOG    &rgb_ug RGB_EFF    &rgb_ug RGB_HUI    &rgb_ug RGB_BRI   &none
      &none              &none         &none         &none         &none                &none              &rgb_ug RGB_HUD    &rgb_ug RGB_BRD    &none             &to_l0
                                       &none         &none         &none                &none              &none
              >;
          };

          layer_4 {
              bindings = <
      &none              &none         &none         &none         &mo 5                &none         &none         &none         &none         &none
      &none              &kp LG(X)     &kp LG(V)     &kp LG(C)     &msc SCRL_DOWN       &none         &none         &none         &none         &none
      &to_l0             &none         &none         &none         &msc SCRL_UP         &none         &none         &none         &none         &none
                                       &mkp LCLK     &mkp RCLK     &mkp MCLK            &none         &none
              >;
          };

          layer_5 {
              bindings = <
      &none              &none              &mmv MOVE_UP       &none              &none                &none         &none         &none         &none         &none
      &none              &mmv MOVE_LEFT     &mmv MOVE_DOWN     &mmv MOVE_RIGHT    &none                &none         &none         &none         &none         &none
      &to_l0             &none              &none              &none              &none                &none         &none         &none         &none         &none
                                            &mkp LCLK          &mkp RCLK          &none                &none         &none
              >;
          };

          layer_6 {
              bindings = <
      &kp Q              &kp W         &kp E              &kp R              &kp T                &hm LS(LALT) Y  &kp U              &kp I              &kp O         &kp P
      &kp A              &hm LALT S    &hm LC(LALT) D     &hm LS(LALT) F     &kp G                &kp H           &hm LS(LALT) J     &hm LC(LALT) K     &hm LALT L    &none
      &kp Z              &kp X         &kp C              &kp V              &kp B                &kp N           &kp M              &td_dot_at         &to_l0        &none
                                       &none              &none              &none                &none           &none
              >;
          };

      };
  };
